<header class="header">
    <div class="header__logo">Node.Js News</div>
    <div class="tabs">
        <a class="tab" href="#">Home</a>
        <a class="tab" href="#">Contact</a>
        <a class="tab" href="#">About</a>
    </div>
    <%- include('./search.ejs') %>
</header>